<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/employees/update}" method="post" th:object="${employee}">
  <div>
    <input type="text" hidden="hidden" name="id" th:value="${employee.getId()}" th:field="*{id}" />
  </div>
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${employee.getName()}" th:field="*{name}" />
  </div>
  <div>
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" th:value="${employee.getAge()} " th:field="*{age}" />
  </div>
  <div>
    <label for="salary">Salary:</label>
    <input type="number" id="salary" name="salary" th:value="${employee.getSalary()}" th:field="*{salary}" />
  </div>
  <div>
    <label for="address">Address:</label>
    <select id="address" th:field="*{address}">
      <option th:each="a : ${addressList}" th:value="${a.getName()}"
              th:text="${a.getName()}"></option>
      </option>
    </select>
  </div>
  <button type="submit">Update</button>
</form>

</body>
</html>